.Height-appl {
  height: 12%;
  /* content: "";
   background-image: url('../images/back3.png'); 
   background-color: rgba(0, 0,0 ,0.57);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; */
}

.spacin {
  margin-right: 30px;
}

.logo-containe {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  /* position: relative; */
  /* margin-top: 38px; */
}

.logo-containe img {
  margin-top: 3%;
}

.logo-tex {
  margin-left: -15px;
  display: flex;
  flex-direction: column;
}

.logo-text-lin1 {
  margin-left: -10px;
  font-size: 28px;
}

.logo-text-lin2 {
  font-size: 24px;
  margin-left: 5px;
}

.Selecting {
  padding: 9px;
  font-size: 15px;
  border: solid 1px white;
  border-radius: 12px;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: white;
}

.margin-spac {
  display: flex;
  align-items: center;
  margin: 4px auto 4px 20px;
}

.margin-spac input {
  width: 340px;
}

.search-ba {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 5px;
  width: fit-content;
  height: 30px;
  margin: 0 auto;
  font-size: larger;
}

.select-optio {
  padding: 5px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.search-containe {
  display: flex;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* margin-left: 10px; */
  flex-grow: 1;
  height: 30px;
}

input[type="text"] {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  background: transparent;
  font-size: 16px;
}

i {
  padding: 5px;
  cursor: pointer;
  color: #333;
}

.butt {
  font-size: 20px;
  background-color: #36c991;
  color: white;
  border: #36c991;
  padding: 5px;
  border-radius: 12px;
  height: 41px;
  position: relative;
  margin: -5px;
  margin-right: -6px;
  width: 90px;
  cursor: pointer;
}

.posting {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 20px;
  padding: 5%;
  border-radius: 8px;
  border: none;
  margin-top: 16px;
}


.posting img {
  width: 32px;
}
