.search-ba {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 5px;
    width: fit-content;
    height: 30px;
    margin: 0 auto;
    font-size: larger;
  }
  
  .select-optio {
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
  }
  
  .search-containe {
    display: flex;
    align-items: center;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* margin-left: 10px; */
    flex-grow: 1;
    height: 30px;
    width: 450px;
  }
  
  input[type="text"] {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    background: transparent;
    font-size: 16px;
  }
  
  i {
    padding: 5px;
    cursor: pointer;
    color: #333;
  }

  .butt{
    font-size: 20px;
    background-color: #36c991;
    color: white;
    border: #36c991;
    padding: 5px;
    border-radius: 12px;
    height: 41px;
    position: relative;
    margin: -5px;
    margin-right: -6px;
    width: 90px;
    cursor: pointer;
  }